#button{
    display: inline-block;
    background-color: #3386C1;
    color: #FFFF;
    text-align: center;
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    text-decoration: none;
    box-shadow: 0 3px 2px 2px #1E5175;
    text-transform: capitalize;
}
#button:hover{
    background-color: #3DA1E8;
}
#button:active{
    box-shadow: 0 1px #1E5175;
    transform: translateY(3px);
}