#button {
    background-color: #3386C1;
    color: #FFFF;
    text-align: center;
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    text-decoration: none;
    position: left;
    left: 50%;
    

}